.datosDoctor {
	float: left;
	width: 40%;
	border-top-color: #00F;
	border-right-color: #00F;
	border-bottom-color: #00F;
	border-left-color: #00F;
	height: 3cm;
}
.footerReceta {
	height: 2.5cm;
}
.footerReceta .logoRemel {
	float: left;
}
.logoRed {
	float: left;
	width: 20%;
	border-top-color: #F00;
	border-right-color: #F00;
	border-bottom-color: #F00;
	border-left-color: #F00;
	height: 3cm;
}
.datosPaciente {
	float: left;
	width: 40%;
	height: 3cm;
}
.footerReceta .infoRemel {
	float: left;
	height: 2.5cm;
}