/**
* Archivo que asigna el estilo a la barra de navegación
*
*/
body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      
      }
      #contenido{
          
          background-color: red;
      }